node-red/.flows.json.backup
[{"id":"3d13e6e.7c0061a","type":"tab","label":"Logon / Setup","disabled":false,"info":""},{"id":"e27febd4.4f5138","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"2289c92e.8bc9b6","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"18a50cec.ece223","type":"tab","label":"IFTTT","disabled":false,"info":""},{"id":"16171990.196f86","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true},{"id":"a01ff767.1c3608","type":"mqtt-broker","z":"","name":"Local","broker":"192.168.1.90","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b077b6d.085ed4","type":"emoncms-server","z":"","server":"http://192.168.1.55/emoncms","name":"Emoncms"},{"id":"2428944e.cfa92c","type":"profile","z":"","name":"Lounge - Heat","time1":"00:00","temp1":"18","time2":"03:00","temp2":"8","time3":"08:00","temp3":"17","time4":"10:00","temp4":"17","time5":"11:00","temp5":"11","time6":"16:00","temp6":"17","time7":"18:00","temp7":"21","time8":"23:59","temp8":"21","time9":"","temp9":"","time10":"","temp10":""},{"id":"7fc2962a.6f8158","type":"profile","z":"","name":"Lounge - Cool","time1":"00:00","temp1":"28","time2":"09:00","temp2":"25","time3":"23:00","temp3":"25","time4":"23:59","temp4":"28","time5":"","temp5":"","time6":"","temp6":"","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"a3cdfb31.04f408","type":"debug","z":"3d13e6e.7c0061a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":140,"wires":[]},{"id":"32ed1ccd.9f38f4","type":"mqtt in","z":"3d13e6e.7c0061a","name":"","topic":"#","qos":"2","broker":"a01ff767.1c3608","x":730,"y":140,"wires":[["ca32f6a5.300668"]]},{"id":"bcd82f4b.0e1a1","type":"emoncms in","z":"e27febd4.4f5138","name":"Emoncms","emonServer":"2b077b6d.085ed4","feedid":"2","x":360,"y":480,"wires":[["1e12b9fd.8fcf06"]]},{"id":"d3873639.d787f8","type":"inject","z":"e27febd4.4f5138","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":500,"wires":[["bcd82f4b.0e1a1","31309d5d.7b6812","6bec51c2.6ffaa","73d9133e.3bd7bc","d89e0941.fb8bc8"]]},{"id":"1e12b9fd.8fcf06","type":"mqtt out","z":"e27febd4.4f5138","name":"Solar","topic":"power/solar","qos":"","retain":"","broker":"a01ff767.1c3608","x":550,"y":480,"wires":[]},{"id":"31309d5d.7b6812","type":"emoncms in","z":"e27febd4.4f5138","name":"Emoncms","emonServer":"2b077b6d.085ed4","feedid":"4","x":360,"y":440,"wires":[["ff5955a2.7cee58"]]},{"id":"6bec51c2.6ffaa","type":"emoncms in","z":"e27febd4.4f5138","name":"Emoncms","emonServer":"2b077b6d.085ed4","feedid":"7","x":360,"y":520,"wires":[["58b67663.026f98"]]},{"id":"3c23ca7.806ac36","type":"mqtt out","z":"e27febd4.4f5138","name":"Output","topic":"power/output","qos":"","retain":"","broker":"a01ff767.1c3608","x":710,"y":440,"wires":[]},{"id":"58b67663.026f98","type":"mqtt out","z":"e27febd4.4f5138","name":"Usage","topic":"power/usage","qos":"","retain":"","broker":"a01ff767.1c3608","x":550,"y":520,"wires":[]},{"id":"73d9133e.3bd7bc","type":"emoncms in","z":"e27febd4.4f5138","name":"Emoncms","emonServer":"2b077b6d.085ed4","feedid":"1","x":360,"y":560,"wires":[["32542696.5a98ea"]]},{"id":"32542696.5a98ea","type":"mqtt out","z":"e27febd4.4f5138","name":"Volts","topic":"power/voltage","qos":"","retain":"","broker":"a01ff767.1c3608","x":550,"y":560,"wires":[]},{"id":"a24dea26.ebd588","type":"server-state-changed","z":"e27febd4.4f5138","name":"Maria Home","server":"16171990.196f86","entityidfilter":"input_boolean.maria_home","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"off","outputs":1,"x":150,"y":280,"wires":[["8dccb953.54fc48"]]},{"id":"b7bd8a97.89ab08","type":"server-state-changed","z":"e27febd4.4f5138","name":"Steve Home","server":"16171990.196f86","entityidfilter":"input_boolean.steve_home","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"off","outputs":1,"x":150,"y":240,"wires":[["8dccb953.54fc48"]]},{"id":"8dccb953.54fc48","type":"api-call-service","z":"e27febd4.4f5138","name":"Occupied","server":"16171990.196f86","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.house_occupied\"}","mergecontext":"","x":370,"y":240,"wires":[[]]},{"id":"5d62cfc5.33f9b","type":"api-call-service","z":"3d13e6e.7c0061a","name":"Set","server":"16171990.196f86","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.maria_home\"}","mergecontext":"","x":690,"y":440,"wires":[[]]},{"id":"39d4fe1a.6e9452","type":"api-current-state","z":"3d13e6e.7c0061a","name":"Check M","server":"16171990.196f86","outputs":1,"halt_if":"not_home","override_topic":true,"entity_id":"device_tracker.mariasiphone","override_payload":true,"override_data":true,"x":540,"y":440,"wires":[["5d62cfc5.33f9b"]]},{"id":"b9241b8d.682518","type":"api-current-state","z":"3d13e6e.7c0061a","name":"Check S","server":"16171990.196f86","outputs":1,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"device_tracker.steve_iphone","state_type":"str","override_payload":true,"override_data":true,"x":540,"y":500,"wires":[["30baa4e.3346c5c"]]},{"id":"30baa4e.3346c5c","type":"api-call-service","z":"3d13e6e.7c0061a","name":"Set","server":"16171990.196f86","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.steve_home\"}","mergecontext":"","x":690,"y":500,"wires":[[]]},{"id":"1f3d32ef.0925bd","type":"server-state-changed","z":"2289c92e.8bc9b6","name":"Home","server":"16171990.196f86","entityidfilter":"input_boolean.house_occupied","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"off","outputs":1,"x":90,"y":40,"wires":[["9052b1ff.f1cc8"]]},{"id":"75ebedb4.fbb0d4","type":"server-state-changed","z":"2289c92e.8bc9b6","name":"Away","server":"16171990.196f86","entityidfilter":"input_boolean.house_occupied","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"on","outputs":1,"x":90,"y":200,"wires":[["97548e84.eb852"]]},{"id":"941c814b.0725f","type":"bigtimer","z":"2289c92e.8bc9b6","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Stairs","comment":"","lat":"-38.161744","lon":"144.55609","starttime":5001,"endtime":"60","startoff":"-45","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":450,"y":40,"wires":[["eb067565.767b78"],[],[]]},{"id":"4da7aa87.166b14","type":"bigtimer","z":"2289c92e.8bc9b6","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Lounge (D)","comment":"Lights on 60 minutes before dusk","lat":"-38.161744","lon":"144.55609","starttime":5001,"endtime":"60","startoff":"-60","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":470,"y":120,"wires":[["9f0a484d.2267c8"],[],[]]},{"id":"9052b1ff.f1cc8","type":"change","z":"2289c92e.8bc9b6","name":"Auto","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":40,"wires":[["941c814b.0725f","4da7aa87.166b14","6406a186.ef038"]]},{"id":"97548e84.eb852","type":"change","z":"2289c92e.8bc9b6","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":200,"wires":[["4da7aa87.166b14","941c814b.0725f","6406a186.ef038"]]},{"id":"eb067565.767b78","type":"mqtt out","z":"2289c92e.8bc9b6","name":"","topic":"","qos":"","retain":"","broker":"a01ff767.1c3608","x":670,"y":40,"wires":[]},{"id":"9f0a484d.2267c8","type":"switch","z":"2289c92e.8bc9b6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":100,"wires":[["e644ef5e.46e"],["3b1dad44.a15212","5ac03cf5.e4e764"]]},{"id":"e644ef5e.46e","type":"api-call-service","z":"2289c92e.8bc9b6","name":"Off","server":"16171990.196f86","service_domain":"light","service":"lifx_set_state","data":"{\"entity_id\":\"light.lounge_1, light.lounge_2\",\"power\":\"false\",\"transition\":\"5\"}","render_data":false,"mergecontext":"","x":830,"y":60,"wires":[[]]},{"id":"3b1dad44.a15212","type":"api-call-service","z":"2289c92e.8bc9b6","name":"On","server":"16171990.196f86","service_domain":"light","service":"lifx_set_state","data":"{\"entity_id\":\"light.lounge_1, light.lounge_2\",\"power\":\"true\",\"transition\":\"5\",\"brightness\":\"190\",\"kelvin\":\"3500\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":100,"wires":[[]]},{"id":"246a904b.ca135","type":"server-state-changed","z":"e27febd4.4f5138","name":"Maria Leaving","server":"16171990.196f86","entityidfilter":"input_boolean.maria_home","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"on","outputs":1,"x":150,"y":120,"wires":[["d64447f4.204328"]]},{"id":"57e8e821.dda7c8","type":"server-state-changed","z":"e27febd4.4f5138","name":"Steve Leaving","server":"16171990.196f86","entityidfilter":"input_boolean.steve_home","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"on","outputs":1,"x":150,"y":160,"wires":[["a7efb9b6.10d5e8"]]},{"id":"d64447f4.204328","type":"api-current-state","z":"e27febd4.4f5138","name":"Steve away","server":"16171990.196f86","outputs":1,"halt_if":"on","override_topic":true,"entity_id":"input_boolean.steve_home","override_payload":true,"override_data":true,"x":350,"y":120,"wires":[["45b3ec76.9e9374"]]},{"id":"a7efb9b6.10d5e8","type":"api-current-state","z":"e27febd4.4f5138","name":"Maria away","server":"16171990.196f86","outputs":1,"halt_if":"on","override_topic":true,"entity_id":"input_boolean.maria_home","override_payload":true,"override_data":true,"x":350,"y":160,"wires":[["45b3ec76.9e9374"]]},{"id":"45b3ec76.9e9374","type":"api-call-service","z":"e27febd4.4f5138","name":"Unoccupied","server":"16171990.196f86","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.house_occupied\"}","render_data":false,"mergecontext":"","x":580,"y":120,"wires":[[]]},{"id":"e53a81a3.10e9c","type":"mqtt in","z":"3d13e6e.7c0061a","name":"","topic":"ha_start","qos":"2","broker":"a01ff767.1c3608","x":130,"y":440,"wires":[["39efcd11.250a02"]]},{"id":"3fd3d40d.13dffc","type":"ramp-thermostat","z":"2289c92e.8bc9b6","name":"Lounge - Heat","profile":"2428944e.cfa92c","hysteresisplus":"1","hysteresisminus":"1","x":440,"y":600,"wires":[["25a3f1f2.3f35be"],[],[]]},{"id":"18a510d8.5ca88f","type":"function","z":"2289c92e.8bc9b6","name":"","func":"msg.topic=\"setCurrent\";\nmsg.payload=Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":640,"wires":[["3fd3d40d.13dffc","ae2f4af2.2b59f8"]]},{"id":"25a3f1f2.3f35be","type":"function","z":"2289c92e.8bc9b6","name":"Heat ","func":"mode = global.get(\"heaterMode\");\n\nif(mode != \"Heat\")\n{\n\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":600,"wires":[[]]},{"id":"c32d86ef.e28e48","type":"server-state-changed","z":"2289c92e.8bc9b6","name":"Heater Mode","server":"16171990.196f86","entityidfilter":"input_select.heater_mode","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":110,"y":580,"wires":[["467cf729.b55ab8"]]},{"id":"467cf729.b55ab8","type":"function","z":"2289c92e.8bc9b6","name":"","func":"mode = msg.payload;\nglobal.set(\"heaterMode\", mode)\nnode.status({fill:\"green\",shape:\"dot\",text:mode});\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":580,"wires":[[]]},{"id":"e4415e6.aad2fa","type":"inject","z":"3d13e6e.7c0061a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":170,"y":280,"wires":[["b6d3b260.5f14","39efcd11.250a02"]]},{"id":"b6d3b260.5f14","type":"function","z":"3d13e6e.7c0061a","name":"Globals","func":"global.set(\"heaterMode\", \"Heat\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":280,"wires":[[]]},{"id":"ca32f6a5.300668","type":"function","z":"3d13e6e.7c0061a","name":"Filter","func":"if (msg.topic == \"power/usage\")\n{\n    return;\n}\nif (msg.topic == \"power/export\")\n{\n    return;\n}\nif(msg.topic == \"power/voltage\")\n{\n    return;\n}\nif(msg.topic == \"power/temp\")\n{\n    return;\n}\nif(msg.topic == \"power/input\")\n{\n    return;\n}\nif(msg.topic == \"power/output\")\n{\n    return;\n}\nif(msg.topic == \"stairs/debug\")\n{\n    return;\n}\nif(msg.topic == \"stairs/status\")\n{\n    return;\n}\nif(msg.topic == \"stairs/switch/stair_lights/state\")\n{\n    return;\n}\nif(msg.topic == \"stairs/switch/stair_lights/command\")\n{\n    return;\n}\nif(msg.topic == \"homeassistant/switch/stairs/stair_lights/config\")\n{\n    return;\n}\nif(msg.topic == \"octoprint/mqtt\")\n{\n    return;\n}\nif(msg.topic == \"octoprint/temperature/tool0\")\n{\n    return;\n}\nif(msg.topic == \"octoprint/temperature/bed\")\n{\n    return;\n}\nif(msg.topic == \"power/solar\")\n{\n    return;\n}\n\n\nif(msg.topic == \"toesp\")\n{\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":140,"wires":[["a3cdfb31.04f408"]]},{"id":"80a5e884.f87238","type":"debug","z":"2289c92e.8bc9b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":600,"wires":[]},{"id":"1a08da32.eb5456","type":"debug","z":"2289c92e.8bc9b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":640,"wires":[]},{"id":"ae2f4af2.2b59f8","type":"ramp-thermostat","z":"2289c92e.8bc9b6","name":"Lounge - Cool","profile":"7fc2962a.6f8158","hysteresisplus":"1","hysteresisminus":"0","x":440,"y":680,"wires":[["da9ca68d.e988c8"],[],[]]},{"id":"da9ca68d.e988c8","type":"function","z":"2289c92e.8bc9b6","name":"Cool","func":"\nmode = global.get(\"heaterMode\");\nmsg.payload = !msg.payload;\n\nif(mode != \"Cool\")\n{\n    return null\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":680,"wires":[[]]},{"id":"2ddc4518.27a0da","type":"server-state-changed","z":"2289c92e.8bc9b6","name":"Power","server":"16171990.196f86","entityidfilter":"input_boolean.power_available","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"off","outputs":1,"x":90,"y":320,"wires":[["4b62b0f.5ddff5"]]},{"id":"4b62b0f.5ddff5","type":"api-current-state","z":"2289c92e.8bc9b6","name":"Occupied","server":"16171990.196f86","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.house_occupied","state_type":"str","override_payload":true,"override_data":true,"x":300,"y":320,"wires":[["7d4e2cea.fd2134"],[]]},{"id":"fc2ccdc2.329de","type":"api-call-service","z":"2289c92e.8bc9b6","name":"Laundry light on","server":"16171990.196f86","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.laundry_light\"}","render_data":false,"mergecontext":"","x":700,"y":340,"wires":[[]]},{"id":"57e0ac51.7697b4","type":"server-state-changed","z":"2289c92e.8bc9b6","name":"Occupied","server":"16171990.196f86","entityidfilter":"input_boolean.house_occupied","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"off","outputs":1,"x":100,"y":380,"wires":[["9e18e996.de81c8"]]},{"id":"9e18e996.de81c8","type":"api-current-state","z":"2289c92e.8bc9b6","name":"Power","server":"16171990.196f86","outputs":2,"halt_if":"off","halt_if_type":"","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.power_available","state_type":"str","override_payload":true,"override_data":true,"x":310,"y":380,"wires":[["7d4e2cea.fd2134"],[]]},{"id":"f919f351.bf6e6","type":"server-state-changed","z":"2289c92e.8bc9b6","name":"Power","server":"16171990.196f86","entityidfilter":"input_boolean.power_available","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":90,"y":440,"wires":[["24ab35c2.43a46a"],[]]},{"id":"81f5824e.501e1","type":"server-state-changed","z":"2289c92e.8bc9b6","name":"Occupied","server":"16171990.196f86","entityidfilter":"input_boolean.house_occupied","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"on","outputs":1,"x":100,"y":480,"wires":[["24ab35c2.43a46a"]]},{"id":"24ab35c2.43a46a","type":"api-call-service","z":"2289c92e.8bc9b6","name":"Laundry light off","server":"16171990.196f86","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.laundry_light\"}","render_data":false,"mergecontext":"","x":340,"y":480,"wires":[[]]},{"id":"6406a186.ef038","type":"bigtimer","z":"2289c92e.8bc9b6","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Christmas Tree","comment":"","lat":"-38.161744","lon":"144.55609","starttime":"600","endtime":1425,"startoff":0,"endoff":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":480,"y":200,"wires":[[],[],[]]},{"id":"6ee9c4ed.5a27ec","type":"switch","z":"2289c92e.8bc9b6","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":200,"wires":[["5c9d357.eb038cc"],["fbfa90e7.5a935"]]},{"id":"5c9d357.eb038cc","type":"api-call-service","z":"2289c92e.8bc9b6","name":"Off","server":"16171990.196f86","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.timer\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":180,"wires":[[]]},{"id":"fbfa90e7.5a935","type":"api-call-service","z":"2289c92e.8bc9b6","name":"On","server":"16171990.196f86","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.timer\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":220,"wires":[[]]},{"id":"d73e7df7.f1804","type":"mqtt in","z":"18a50cec.ece223","name":"","topic":"ifttt/goodnight","qos":"2","broker":"a01ff767.1c3608","x":160,"y":80,"wires":[["36ca786f.b16418"]]},{"id":"36ca786f.b16418","type":"function","z":"18a50cec.ece223","name":"","func":"msg2 = {\"topic\": \"LightsOff\", \"payload\": \"0\"};\nmsg1 = {\"topic\": \"stairs/switch/stair_lights/command\", \"payload\" : \"off\"};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":360,"y":80,"wires":[["9f29739a.bb396","95cfc48a.7e11d8"],["4319d6f6.1a3b38","ca212e00.6843f"]]},{"id":"6f9f9909.0619f8","type":"mqtt out","z":"18a50cec.ece223","name":"","topic":"","qos":"","retain":"","broker":"a01ff767.1c3608","x":810,"y":60,"wires":[]},{"id":"4319d6f6.1a3b38","type":"api-call-service","z":"18a50cec.ece223","name":"Lights","server":"16171990.196f86","service_domain":"light","service":"lifx_set_state","data":"{\"entity_id\":\"light.lounge_1, light.lounge_2\",\"power\":\"false\",\"transition\":\"5\"}","render_data":false,"mergecontext":"","x":810,"y":140,"wires":[[]]},{"id":"ca212e00.6843f","type":"api-call-service","z":"18a50cec.ece223","name":"Fan","server":"16171990.196f86","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.moretti_fan\"}","render_data":false,"mergecontext":"","x":810,"y":180,"wires":[[]]},{"id":"9f29739a.bb396","type":"delay","z":"18a50cec.ece223","name":"45S","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":60,"wires":[["6f9f9909.0619f8"]]},{"id":"c16ce514.3c7598","type":"api-call-service","z":"18a50cec.ece223","name":"Tree","server":"16171990.196f86","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.relay\"}","render_data":false,"mergecontext":"","x":810,"y":220,"wires":[[]]},{"id":"7f16e557.18a87c","type":"server-state-changed","z":"e27febd4.4f5138","name":"Fan","server":"16171990.196f86","entityidfilter":"switch.moretti_fan","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"off","outputs":1,"x":130,"y":340,"wires":[[]]},{"id":"39efcd11.250a02","type":"delay","z":"3d13e6e.7c0061a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":440,"wires":[["39d4fe1a.6e9452","b9241b8d.682518"]]},{"id":"af00a151.47fd9","type":"debug","z":"3d13e6e.7c0061a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":280,"wires":[]},{"id":"5ac03cf5.e4e764","type":"api-call-service","z":"2289c92e.8bc9b6","name":"Off","server":"16171990.196f86","service_domain":"automation","service":"turn_off","data":"{\"entity_id\":\"automation.lounge_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":830,"y":140,"wires":[[]]},{"id":"1cd7bc91.13d963","type":"server-state-changed","z":"2289c92e.8bc9b6","name":"Lounge","server":"16171990.196f86","entityidfilter":"sensor.lounge_temperature","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":90,"y":640,"wires":[["18a510d8.5ca88f"]]},{"id":"2de3cbb5.53de74","type":"server-state-changed","z":"2289c92e.8bc9b6","name":"Curb Power","server":"16171990.196f86","entityidfilter":"input_boolean.curb_power","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"","halt_if_compare":"is","outputs":2,"x":110,"y":520,"wires":[["24ab35c2.43a46a"],[]]},{"id":"7d4e2cea.fd2134","type":"api-current-state","z":"2289c92e.8bc9b6","name":"Curb","server":"16171990.196f86","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.curb_power","state_type":"habool","override_payload":true,"override_data":true,"x":510,"y":340,"wires":[["fc2ccdc2.329de"],[]]},{"id":"713e2a6d.4c1db4","type":"api-call-service","z":"18a50cec.ece223","name":"Hall","server":"16171990.196f86","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_white_f0b429a8cf75\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":810,"y":100,"wires":[[]]},{"id":"95cfc48a.7e11d8","type":"delay","z":"18a50cec.ece223","name":"90S","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":100,"wires":[["713e2a6d.4c1db4"]]},{"id":"d89e0941.fb8bc8","type":"emoncms in","z":"e27febd4.4f5138","name":"Emoncms","emonServer":"2b077b6d.085ed4","feedid":"11","x":360,"y":600,"wires":[["18863325.df4b2d"]]},{"id":"18863325.df4b2d","type":"mqtt out","z":"e27febd4.4f5138","name":"Temp.","topic":"power/temp","qos":"","retain":"","broker":"a01ff767.1c3608","x":550,"y":600,"wires":[]},{"id":"ff5955a2.7cee58","type":"function","z":"e27febd4.4f5138","name":"","func":"var power = Number(msg.payload);\nvar input = {payload: 0};\nvar output = {payload: 0}\nif (power > 0)\n{\n    input.payload = power;\n} else {\n    output.payload=(0-power);\n}\nreturn [msg, output, input];","outputs":3,"noerr":0,"x":550,"y":440,"wires":[["4046b197.b5bbe"],["3c23ca7.806ac36"],["dc1b3940.ebb7a8"]]},{"id":"dc1b3940.ebb7a8","type":"mqtt out","z":"e27febd4.4f5138","name":"Input","topic":"power/input","qos":"","retain":"","broker":"a01ff767.1c3608","x":710,"y":480,"wires":[]},{"id":"4046b197.b5bbe","type":"mqtt out","z":"e27febd4.4f5138","name":"Power","topic":"power/export","qos":"","retain":"","broker":"a01ff767.1c3608","x":710,"y":400,"wires":[]},{"id":"c7a8e44f.c0fb68","type":"debug","z":"e27febd4.4f5138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":400,"wires":[]},{"id":"8bae3d44.e1105","type":"debug","z":"e27febd4.4f5138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":460,"wires":[]},{"id":"14c400dc.6038bf","type":"debug","z":"e27febd4.4f5138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":500,"wires":[]},{"id":"6058347c.db9fec","type":"server-state-changed","z":"e27febd4.4f5138","name":"Lounge motion","server":"16171990.196f86","entityidfilter":"binary_sensor.multisensor_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":720,"wires":[["21c6f7f9.d627f8"],[]]},{"id":"51e9103.9eb0ff","type":"trigger","z":"e27febd4.4f5138","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":490,"y":720,"wires":[["4fe09486.a9fd6c"]]},{"id":"4fe09486.a9fd6c","type":"switch","z":"e27febd4.4f5138","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":720,"wires":[["fb38c299.d0c95"],["fac3d5a4.d431e8"]]},{"id":"fb38c299.d0c95","type":"api-call-service","z":"e27febd4.4f5138","name":"On","server":"16171990.196f86","service_domain":"light","service":"lifx_set_state","data":"{\"entity_id\":\"light.lounge_1, light.lounge_2\",\"power\":\"true\",\"transition\":\"5\",\"brightness\":\"190\",\"kelvin\":\"3500\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":850,"y":700,"wires":[[]]},{"id":"fac3d5a4.d431e8","type":"api-call-service","z":"e27febd4.4f5138","name":"Off","server":"16171990.196f86","service_domain":"light","service":"lifx_set_state","data":"{\"entity_id\":\"light.lounge_1, light.lounge_2\",\"power\":\"false\",\"transition\":\"5\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":850,"y":740,"wires":[[]]},{"id":"21c6f7f9.d627f8","type":"time-range-switch","z":"e27febd4.4f5138","name":"","lat":"-38.1606","lon":"144.5555","startTime":"01:00","endTime":"07:00","startOffset":0,"endOffset":0,"x":310,"y":720,"wires":[["51e9103.9eb0ff"],[]]},{"id":"a71cc94e.f07128","type":"server-state-changed","z":"e27febd4.4f5138","name":"Hall motion","server":"16171990.196f86","entityidfilter":"binary_sensor.upstairs_hall_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"clear","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":800,"wires":[["c05ef58b.2b4c58"],[]]},{"id":"c05ef58b.2b4c58","type":"time-range-switch","z":"e27febd4.4f5138","name":"night","lat":"-38.1606","lon":"144.5555","startTime":"dusk","endTime":"dawn","startOffset":"-60","endOffset":0,"x":290,"y":800,"wires":[["8907cc14.20ecd"],[]]},{"id":"8907cc14.20ecd","type":"trigger","z":"e27febd4.4f5138","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":490,"y":800,"wires":[["e7003278.06c88"]]},{"id":"e7003278.06c88","type":"mqtt out","z":"e27febd4.4f5138","name":"stair lights","topic":"stairs/switch/stair_lights/command","qos":"","retain":"","broker":"a01ff767.1c3608","x":800,"y":800,"wires":[]}]